@font-face {
  font-family: 'MSB';
  src: url("../fonts/MuseoSansCyrl-700.eot");
  src: local("MuseoSansCyrl-700"), url("../fonts/MuseoSansCyrl-700.eot?#iefix") format("embedded-opentype"), url("../fonts/MuseoSansCyrl-700.woff2") format("woff2"), url("../fonts/MuseoSansCyrl-700.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'MSL';
  src: url("../fonts/MuseoSansCyrl-300.eot");
  src: local("MuseoSansCyrl-300"), url("../fonts/MuseoSansCyrl-300.eot?#iefix") format("embedded-opentype"), url("../fonts/MuseoSansCyrl-300.woff2") format("woff2"), url("../fonts/MuseoSansCyrl-300.woff") format("woff");
  font-weight: 300;
  font-style: normal; }

* {
  box-sizing: border-box; }

body {
  font-family: 'MSL', sans-serif;
  font-weight: 300; }

img {
  max-width: 100%;
  height: auto;
  display: block; }

.container {
  max-width: 1200px;
  padding: 0 15px;
  margin: auto; }

.section {
  padding: 80px 0; }
  .section-title {
    font-size: 24px;
    font-family: 'MSB', sans-serif;
    font-weight: 700; }
  .section-subtitle {
    font-size: 16px;
    display: block; }

.btn {
  border-radius: 10px;
  background-color: #ffd200;
  border: none;
  padding: 18px 30px;
  font-weight: 600;
  color: #333;
  outline: none;
  cursor: pointer;
  transition: all 0.4s; }
  .btn:hover {
    background-color: #e0b900; }
  .btn:active {
    background-color: #cca800; }

.input {
  border: 1px solid #ddd;
  padding: 20px 26px;
  font-size: 15px;
  border-radius: 10px; }

@media (max-width: 600px) {
  .section {
    padding: 45px 0; } }

.header {
  padding: 12px 0; }
  .header-nav {
    display: flex;
    justify-content: space-between;
    align-items: center; }
    .header-nav__contacts {
      display: flex;
      flex-direction: column;
      text-align: right;
      color: #333; }
    .header-nav__about {
      display: flex;
      align-items: center; }
    .header-nav__geo {
      font-size: 13px;
      font-weight: 600;
      margin-bottom: 5px; }
    .header-nav__phone {
      color: #333;
      text-decoration: none;
      font-size: 20px;
      display: inline-block;
      font-family: 'MSB', sans-serif;
      font-weight: 700; }
    .header-nav__btn {
      margin-left: 30px;
      font-size: 15px; }

@media (max-width: 600px) {
  .header-nav__logo {
    width: 100px; }
  .header-nav__phone {
    font-size: 16px; }
  .header-nav__btn {
    margin-left: 15px;
    padding: 17px 20px; } }

@media (max-width: 480px) {
  .header-nav__logo {
    width: 95px; }
  .header-nav__contacts {
    display: none; }
  .header-nav .btn {
    padding: 15px 26px;
    font-size: 13px;
    font-weight: 700;
    margin-left: 10px; } }

.start {
  padding: 50px 0;
  background-color: #f2f2f2; }
  .start-items {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap; }
  .start-text {
    flex-basis: 42%; }
    .start-text__subtitle {
      font-weight: 700;
      font-size: 20px;
      display: block;
      margin-bottom: 70px;
      font-family: 'MSB', sans-serif;
      font-weight: 700; }
    .start-text__title {
      font-size: 40px;
      font-weight: bold;
      line-height: 1.4;
      margin-bottom: 35px;
      font-family: 'MSB', sans-serif;
      font-weight: 700; }
  .start-list {
    margin: 0;
    padding: 0;
    list-style-type: none; }
    .start-list__item {
      display: flex;
      align-items: center;
      margin-bottom: 30px; }
      .start-list__item:last-child {
        margin-bottom: 0; }
    .start-list__img {
      width: 40px;
      height: 40px;
      border: 2px solid #ffd200;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-right: 30px; }
    .start-list__text {
      max-width: 280px;
      font-family: 'MSL', sans-serif; }
  .start-img {
    flex-basis: 49%; }

@media (max-width: 1200px) {
  .start {
    text-align: center; }
    .start-items {
      flex-direction: column; }
    .start-text, .start-img {
      flex-basis: 100%; }
    .start-text__subtitle {
      margin-bottom: 45px; }
    .start-text__title {
      margin-top: 0; }
    .start-list {
      margin-bottom: 50px;
      text-align: left;
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center; }
      .start-list__text {
        max-width: 200px;
        text-align: left; }
    .start-img {
      display: flex;
      justify-content: center; } }

@media (max-width: 600px) {
  .start {
    padding-top: 45px;
    padding-bottom: 40px; }
    .start-text__title {
      font-size: 24px;
      line-height: 1.4;
      margin-bottom: 12px; }
    .start-text__subtitle {
      font-size: 16px;
      margin-bottom: 28px; }
    .start-list {
      align-items: flex-start; }
      .start-list__text {
        font-size: 12px;
        max-width: 220px; }
      .start-list__item {
        margin-bottom: 20px; }
      .start-list__img {
        margin-right: 15px; } }

.offer {
  background: url("../img/offer_img.jpg") right center no-repeat;
  background-size: contain;
  position: relative; }
  .offer::before {
    content: '';
    width: 50%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #fff;
    z-index: 4; }
  .offer-items {
    width: 50%;
    padding-right: 92px;
    position: relative;
    z-index: 5; }
  .offer__subtitle {
    max-width: 250px;
    margin-bottom: 30px; }
  .offer__title {
    margin-top: 0;
    margin-bottom: 24px;
    max-width: 360px;
    line-height: 1.4; }
  .offer__input {
    width: 240px;
    margin-bottom: 30px; }
    .offer__input:first-child {
      margin-right: 9px; }
    .offer__input:focus {
      outline: none;
      border: 1px solid #ffd200; }
  .offer__btn {
    width: 100%;
    min-height: 70px;
    margin-bottom: 25px; }
  .offer-small {
    display: flex;
    justify-content: space-between; }
    .offer-small__call, .offer-small__me {
      flex-basis: 44%;
      font-size: 15px;
      line-height: 1.55; }
    .offer-small_tel {
      font-family: 'MSB', sans-serif;
      font-weight: 700;
      text-decoration: none;
      color: #333;
      display: block; }

@media (max-width: 1200px) {
  .offer {
    background-size: cover; }
    .offer-items {
      padding-right: 50px; }
    .offer__input {
      width: 100%;
      margin-bottom: 12px; }
    .offer_btn {
      width: 100%;
      font-size: 14px; } }

@media (max-width: 600px) {
  .offer {
    background: none;
    background-color: #fff; }
    .offer-items {
      width: 100%;
      padding-right: 0; } }

@media (max-width: 480px) {
  .offer-small {
    flex-direction: column;
    align-items: center;
    text-align: center; }
    .offer-small__call {
      margin-bottom: 20px; }
    .offer-small__call, .offer-small__me {
      max-width: 240px; }
  .offer__btn {
    padding: 12px 15px;
    font-size: 13px; } }
