$mainColor: #ffd200
$colorText: #333
$border: #ddd


*
	box-sizing: border-box

body
	+light

img
	max-width: 100%
	height: auto
	display: block

.container
	max-width: 1200px
	padding: 0 15px
	margin: auto

.section
	padding: 80px 0
	&-title
		font-size: 24px
		+bold
		text-align: center
	&-subtitle
		font-size: 16px
		display: block

.btn
	border-radius: 10px
	background-color: $mainColor
	border: none
	padding: 18px 30px
	font-weight: 600
	color: $colorText
	outline: none
	cursor: pointer
	transition: all 0.4s
	&:hover
		background-color: darken($mainColor, 6)
	&:active
		background-color: darken($mainColor, 10)

.input
	border: 1px solid $border
	padding: 20px 26px
	font-size: 15px
	border-radius: 10px

.arrows
	&__right, &__left
		cursor: pointer
		
@media (max-width: 600px)
	.section
		padding: 45px 0
